<% (0..6).each do |i| %>
  <div class='panel panel-default week'>
    <div class='panel-heading'>
      <%= (Date.today + i).strftime("%-m/%-d") %>
    </div>
    <div class='panel-body'>
      <img src='<%= @daily[i].icon %>' /><br />
      <span class='max'><%= @daily[i].max %></span><br />
      <span class='min'><%= @daily[i].min %></span>
    </div>
  </div>
<% end %>
